<div class="container" ng-controller="UserController">

    <h1 class="well">
        <center>
            <font face="Monotype Corsiva">Sign In Here</font>
        </center>
    </h1>

<div class="col-lg-12 well">
    <div class="row">
        <form>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Login Name</label><input type="text" name="username"
                        ng-model="user.username" placeholder="Enter User Name Here" class="form-control">
                    </div>
</div>
<div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Password</label><input type="password" name="password"
                        ng-model="user.password" placeholder="Enter Password Here" class="form-control">
                        
                    </div>
                </div>
            <center>
            <input type="submit" value="Login" class="btn btn-lg btn-info" ng-click="logincheck()"/>
            
            </center>
            </div>
        </form>
    </div>
</div>
</div>